%h1 User show page
= form_tag update_preference_user_path, :method => :post, :id => "project-preference-list" do
	Check projects to monitor:
	- @all_projects.each do |project|
		= project.name
		= check_box_tag "projects[#{project.id}]", 0, (@preferred_projects.include? project)
	Check Metrics to monitor:
	- @all_metrics.each do |metric|
		= metric
		= check_box_tag "metrics[#{metric}]", 0, (@preferred_metrics.include? metric)
	= submit_tag "Save", :id => "project_preference_submit"